src/main/resources/META-INF/model/MessageGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageGatewaySOAP"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mg="http://schemas.tz.com/message-gateway-ws"
                  xmlns="http://schemas.tz.com/message-gateway-ws"
                  targetNamespace="http://schemas.tz.com/message-gateway-ws">
    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="MessageGateway.xsd"
                        namespace="http://schemas.tz.com/message-gateway-ws"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SendEmailMessageRequest">
        <wsdl:part name="parameters" element="mg:SendEmailMessage"/>
    </wsdl:message>
    <wsdl:message name="SendEmailMessageAsyncRequest">
        <wsdl:part name="parameters" element="mg:SendEmailMessageAsync"/>
    </wsdl:message>
    <wsdl:message name="SendMessageResponse">
        <wsdl:part name="parameters" element="mg:SendMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="MessageGateway">
        <wsdl:operation name="SendEmailMessage">
            <wsdl:input message="SendEmailMessageRequest"/>
            <wsdl:output message="SendMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SendEmailMessageAsync">
            <wsdl:input message="SendEmailMessageAsyncRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="MessageGateway" name="MessageGatewayBinding">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendEmailMessage">
            <soap:operation
                    soapAction="http://schemas.tz.com/message-gateway-ws/SendEmailMessage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SendEmailMessageAsync">
            <soap:operation
                    soapAction="http://schemas.tz.com/message-gateway-ws/SendEmailMessageAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageGatewayService">
        <wsdl:port name="MessageGatewayPort" binding="MessageGatewayBinding">
            <soap:address
                    location="http://localhost:8080/cxf/ws-message-gateway"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>